{% extends 'base.html' %}
{% load static %}

{% block title %}Login with Telegram{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p class="h5 text-center">Welcome, {{ user.first_name|default:user.username }}!</p>
  {% else %}
    <h3 class="text-center mb-4">Hello, Anonymous.</h3>
    <div class="d-grid">
      <a
        href="{{ telegram_bot_link }}?start={{ token }}"
        class="btn btn-success btn-block"
        target="_blank"
        rel="noopener noreferrer"
      >
        Login with Telegram
      </a>
    </div>
    <script>
      setInterval(function () {
        const authToken = "{{ token }}";
        fetch(`/check-auth-status/?token=${authToken}`, {
          method: 'GET',
          credentials: 'same-origin',
        })
          .then(response => response.json())
          .then(data => {
            if (data.is_authenticated) {
              location.reload();
            }
          })
          .catch(error => console.error("Error checking auth status:", error));
      }, 3000);
    </script>
  {% endif %}
{% endblock %}
